# Lamat 2024 Winter Bootcamp

Some of this material was adapted from the Lamat 2023 Winter Bootcamp by Jules Fowler, and from the Undergraduate Lab at Berkeley Physics and Astronomy 2020-2021 Python modules by Yi Zhu and Aditya Sengupta.

Questions in these notebooks will alternate between coding tasks and predicting what'll happen when code is run. In either case, feel free to add your own code wherever you feel it's appropriate or wherever you want to check something! I've marked the cells where coding tasks should be done with `# your code here!`, but you aren't restricted to just those spots.

## Python Variables and Calculations

For scientific calculations, we'll need to do basic arithmetic operations and give names to the inputs and results. Python lets you do math in about the same way that calculators do, and lets you store any relevant quantities in *variables*, with names that you choose. We'll first look at the math capabilities:

In [ ]:
# run me by clicking the Play sign or pressing Command+Return on a Mac
# addition like we'd hand-write it
9 + 5

In [ ]:
# subtraction like we'd hand-write it
9 - 3

In [ ]:
# multiplication with the * sign
9 * 3

In [ ]:
# doesn't do multiplication, or anything; shows us an error, and the exact symbol that went wrong
9 x 3

In [ ]:
# this is "float division" so you'll see the decimal point; try changing / to //
9 / 4

In [ ]:
# exponentiation; ^ does something different
2**3

In [ ]:
# modulo, or remainder when you divide
9 % 5

We can chain these together into more complicated operations similar to how we'd do it in math class, using parentheses `()` to make sub-groups and the usual order of operations (PEMDAS).

In [ ]:
3 / (4 / 5), 3 / 4 / 5

**Exercise**: Try out a more complicated expression! In the cell below, compute $\frac{(935 + 143)}{\sqrt{1200 \times 75}} - \frac{13}{4}$.

In [ ]:
# your code here!
((935+143)/((1200*75)**0.5))-(13/4)

In [ ]:
(676**0.5+2**4)/(27*(329-100/6))

To scale this up to multi-step calculations or to store values we care about for later/to use them multiple times, we can introduce variables. A variable is a location in the computer's memory that stores a value or a reference to another object. We can do this as follows:

In [ ]:
x = 3

And from now on, we can refer to `x` to use the value stored inside it.

In [ ]:
x=3
y = x
y+x

In [ ]:
x + 2

If we give `x` a new value, expressions based on it will update. **Be careful** about the order in which you run cells - if you go back to an earlier cell, it'll use the last-updated value of `x` and not the one you had the previous time!

In [ ]:
x=3
print("2x =", 2 * x)
x = 4
print("2x =", 2 * x)

### A quick aside on functions

Now is a good time to mention you can get more information on anything in Python by running `help(thing)`, and you can get the type of an object by running `type(thing)`. `help` and `type` are *functions*, which can operate on variables. We'll get into writing your own functions tomorrow; for now, remember that functions have the syntax `functionname(inputname)`. I'll sometimes refer to this as "calling `functionname` on `inputname`".

In the cell above, we called the function `print`, which displays whatever output we pass into it. Although most functions create a result that you can meaningfully assign a variable to, `print` doesn't:

In [ ]:
x = 3 # fine

In [ ]:
x = print(3) # will show a 3, but then let's look at what x is
type(x)

In [ ]:
help()

In [ ]:
x=5.0
if x == 5:
  print("x is 5")
else:
  print("x is not 5")

In [ ]:
"3" in "33"

## Data Types

A data type is any kind of object that we can put in a variable. The two main numeric data types, which we've already used, are `int` (for integers) and `float` (for floating-point decimal numbers). The others we'll need are `str` for strings of text and `bool` for Boolean objects (true or false).

In [ ]:
# what are the types of these variables?
a = 1 #int
b = 10 #int
c = 3.5 #float
d = 7.0 #float
e = "lamat" #string
f = "2024, lol" #string
g = True #boolean

Usually you can't do operations on objects with different types, but if Python decides the operation can make sense, it can work.

In [ ]:
a + int(f)

In [ ]:
a + b # what types are the inputs? what type could the output be? (int + int = int)

In [ ]:
a + c # what types are the inputs? what type could the output be? (int + float = float)

In [ ]:
a + d # what types are the inputs? what type could the output be? (int + float = float)

In [ ]:
a + e # what types are the inputs? what type could the output be? (string + int = ??)

If it's possible, you can convert between types by calling the relevant type as a function:

In [ ]:

a = 1
f = "2024"
a + int(f) #int(string) makes whatever number the string is into an int

A little quirk of Python is you can often do this in situations you might not expect, which is a bit weird to some people coming from other languages:

In [ ]:

a = 1 #int
b = 10 #int
c = 3.5 #float
d = 7.0 #float
e = "lamat" #string
f = "2024" #string
g = False #boolean
print(g)
print(int(g)) #int(True) = 1, and int(False) = 0

And you can even do math operations on other datatypes sometimes!

In [ ]:
a = 1 #int
b = 10 #int
c = 3.5 #float
d = 7.0 #float
e = "lamat" #string
f = "2024" #string
g = True #boolean

e + f # before running this, what do you think might happen? --> "string" + "string" = 'stringstring'

In [ ]:
str(a) + f # before running this, what do you think might happen? --> str(int) + string = '(string of int)string'

In [ ]:
e * 3 # before running this, what do you think might happen? string * int = 'string' int number of times

In [ ]:
3 + 4 * False # what if this is False? True = 1, False = 0

## Online Python Tutor

One of the important things we'll be doing is understanding the flow of a program: what happens step by step, and the state of every variable at any given time. This can be hard to hold in your head, so we'll do some exercises to practice it. The main tool we'll use is the Online Python Tutor, [pythontutor.com](pythontutor.com). This is a resource I used when I was learning Python!

The visualizations will become more involved when we learn about `if` and `for` statements later today, but for now, let's get used to looking at them with a short example.

In [ ]:
# try and read through this, guess what'll happen, then run it
a = 2
b = 3
print(a, b)
a = a + b
b = a - b
a = a - b
print(a, b)

(Statements like `a = a + b` might look a little weird mathematically. What happens there is: it takes whatever `a` is before transforming it, adds `b`, and then sets `a` to the result. You can also write `a += b`.)

When you've run the cell above, copy and paste it into Python Tutor. Run through each step and keep an eye on what `a` and `b` are throughout. If it helps, you can also change their initial values.

What would happen if we ran the block in between the two `print` statements another time? Try it on Python Tutor and see if it's what you expected!