# Lamat 2025 Winter Bootcamp

Some of this material was adapted from the Lamat 2023 Winter Bootcamp by Jules Fowler, and from the Undergraduate Lab at Berkeley Physics and Astronomy 2020-2021 Python modules by Yi Zhu and Aditya Sengupta.

## Installation and Imports

I'll switch over to my terminal for the installation demo. If everyone's Python installs worked yesterday, follow along!

Packages allow us to use code that someone else wrote so we don't have to reinvent the wheel. They're a good example of abstraction: you get to use other people's tools without worrying about all the details of how they're written. Probably the most widely used package, and something that'll be useful even outside of astronomy, is `numpy`.

In [ ]:
import numpy

Once we've imported a package, we can get functions and other objects from it as follows:

In [ ]:
numpy.array

We can also give packages alternative names by importing them `as alias` where we specify the alias. In the case of `numpy`, it's used so often that people usually give it the alias `np`:

In [ ]:
import numpy as np

which is equivalent to saying `np = numpy` after the input, just more easily readable.

In [ ]:
np.array

We can also import specific objects from a package:

In [ ]:
from numpy import array
array

And we can even import everything (`from numpy import *`), but **I don't recommend it**!

In [ ]:
abs # this is a built-in function

In [ ]:
np.abs # what's a ufunc? try looking up the docs for np.ufunc

We'll see the real power of numpy in a minute, but for now, note that it gives us a lot of math functions!

In [ ]:
help(np.ufunc)

In [ ]:
np.exp(1)

In [ ]:
np.sin(np.pi / 2)

In [ ]:
np.sqrt(64)

**Exercise**: in planet atmospheres, we describe the trend in atmospheric pressure as a function of altitude with the *scale height*. Atmospheric pressure drops exponentially, according to the rule: if you go up one scale height, the pressure goes down by a factor of $e$.

Earth's scale height is 8.5 km. Using this, what's the ratio of atmospheric pressure relative to pressure at sea level at

- ISB in UC Santa Cruz? (247 m above sea level)
- Lick Observatory? (1286 m above sea level)

Check this against an online calculator like https://www.mide.com/air-pressure-at-altitude-calculator.

In [ ]:
# your code here!

## Lists

I'm talking about lists a bit later than I normally would, because I wanted to talk about them right next to numpy's arrays. You might have already felt the need for lists, which are ways to store multiple pieces of data under one name. Instead of just specifying one piece of data and one piece of computation, we can now scale that up to as many pieces of data as needed.

In [ ]:
l = [1, 3, 5, 7, 9]

We can check the length of a list with the `len` function:

In [ ]:
len(l)

We get elements out of a list by "indexing into" them, like this:

In [ ]:
l[4] # first element

And we can modify elements just like any other variable:

In [ ]:
print(l)
l[2] = 6
print(l)

We can also extract sub-lists:

In [ ]:
l[1:3] # including the start of the range, excluding the end

And we can loop over them:

In [ ]:
for element in l:
  print(element - 1)

A quick aside: my favorite under-used trick is the function `tqdm`, which makes a little loading bar when you have a long loop running. I often see people printing out the iteration number and scrolling through hundreds of lines of printed output, and this is way easier!

In [ ]:
from tqdm import tqdm
for element in tqdm(range(2**50)):
  pass

You can put any kind of data into a list, even different datatypes. This is something that many other languages don't allow because it can be confusing, like if you want to do the same operation on each element.

In [ ]:
m = [1, "hello", 3.0, True]

In [ ]:
m = [1, 3.0, True]
for element in m:
  print(element)
print("\n") # "new line"
for element in m:
  print(element - 1)

Lists can even include other lists, and you can "double-index" to access those!

In [ ]:
ll = [1, [2, 3], [4, 5, 6]]
ll[1] # what kind of object is this?

In [ ]:
ll[2][2] # what kind of object is this?

In [ ]:
len(ll)

You can print the whole list:

In [ ]:
print(ll)

To add new elements to a list, there's the `append` method. I'm calling this a "method" and not a "function" to denote the fact that `append` "belongs to" the particular list, and isn't a general function.

In [ ]:
# run this a few times, what happens?
l.append(3)
l

A common pattern is to start with an empty list, and add to it one by one. Let's make a list of the squares 1-10:

In [ ]:
numbers = []
# your code here!

Once you've done this example, run it through Python Tutor to get an idea of the "picture" of a list in computer memory.

There's a few other list methods and other things you can do that come up less often than `append`: run the cells below for the help windows on those, and I'll demonstrate them if we have time!

In [ ]:
?l.extend

In [ ]:
?l.insert

In [ ]:
?l.remove

## NumPy Arrays

The basic object in NumPy is the array, which is essentially the math version of a list. Since Python lists weren't built to be mathematical objects, you'll sometimes want to do mathematical operations on a whole dataset at once and you won't be able to in a list. For example, suppose we have an image, which is a two-dimensional structure of intensities per pixel, and we want to subtract 1 from the whole image because that's the smallest value.

In [ ]:
lt = [1, 3, 5, 9]
lt - 1

We can do this if we convert `ll` to an array!

In [ ]:
lt_a = np.array(lt)
lt_a

In [ ]:
type(lt_a)

In [ ]:
?np.dtype

In [ ]:
lt_a - 1

To make sure NumPy's operations make sense over arrays, there's stricter rules for how we can make arrays than for lists. If it's possible, arrays will convert all their elements to a common data-type.

In [ ]:
a_mixed_types = np.array([1, 1.0, True])
a_mixed_types

In [ ]:
a_mixed_types.dtype

You can make arrays out of mostly anything, but if you give it different types, or types it's not used to, it'll default to the "object" type and you usually won't get anything useful out of it.

In [ ]:
np.array([None, "whatever", 3.0])

It'll also yell at you if you try and make a multi-dimensional array that's not rectangular:

In [ ]:
a = np.array([1, 2])

In [ ]:
a

In [ ]:
a + 1 # will this work? think about the loop version of this operation

In [ ]:
ar = np.array([[1, 2], [3, 4]])

In [ ]:
ar + 1

We can do more math on arrays! The usual operations work:

In [ ]:
ar * 2

In [ ]:
ar / 3 # automatically converts an integer array to a float array if you need it

We can do operations between two arrays!

In [ ]:
lt_a + lt_a

In [ ]:
# this doesn't change the original array
# unless we assign the result to the original name
lt_a

In [ ]:
x = np.array([1, 3, 6])
y = np.array([2, 5, 9])
y - x

But the dimensions need to agree:

In [ ]:
y + lt_a

To check this, we can look at `arr.shape` and make sure those are the same:

**Exercise**: similar to something we did previously, make a numpy array consisting of the squares of the numbers 1-10.

In [ ]:
# your code here!
lt_a.shape

In [ ]:
print(y.shape, x.shape)
y.shape == x.shape

Some things that work on lists still work on arrays, for example indexing and assigning:

In [ ]:
x[2]

In [ ]:
x[1:3]

In [ ]:
x[1:3] = [4, 6]

And looping, even over multi-dimensional arrays! (But if possible, it's best to do operations all at once like we've been seeing.)

In [ ]:
for element in lt_a:
  print(element + 1)

In [ ]:
# what do you think this will do?
for row in ar:
  for element in row:
    print(element)
  print("\n")

There's a lot of numpy functions that are meant to operate over arrays:

In [ ]:
np.min(x), np.max(x), np.mean(x), np.std(x)

And many more! I recommend looking these up in the numpy documentation - a list of the math ones can be found here: [https://numpy.org/doc/1.26/reference/routines.math.html](https://numpy.org/doc/1.26/reference/routines.math.html). As always, you can look up any unfamiliar functions with `help`.

**Exercise**: I'll go around the room and give each pair of people one of these functions to look at (some of these functions are paired because they're quite similar). Read the documentation for it and try out a test case. I'll ask each person for a quick summary of what their function does, and we'll work out how to use it together!

- `np.arange`
- `np.where`
- `np.floor`, `np.ceil`
- `np.maximum`, `np.minimum`
- `np.zeros`, `np.ones`
- `np.sum`, `np.prod`

We'll cover one more numpy feature: creating and indexing with boolean arrays. Similar to the earlier math operations, we can apply comparison operators (`==`, `>`, `<`, `>=`, `<=`) to entire arrays at once:

In [ ]:
a = np.array([1, 2.9, 3, 4, 5])
np.floor(a)

In [ ]:
np.array([3, 10, 6]) > 5

Or between two arrays:

In [ ]:
np.array([3, 10, 6]) == np.array([3, 1, 6])

And once we have an array of Booleans the same length as our array of numbers, we can use it to select specific numbers:

In [ ]:
x = np.array([-1, 3, -5, 8])
# I want only the positive numbers
print(x > 0) # This tells me where they are
print(x[x > 0]) # This picks those locations

**Exercise**: let's find the roots of a polynomial!

I've chosen the polynomial $x^4 + 2 x^3 - 107 x^2 + 180 x + 288$. I'll guarantee that this has four distinct integer roots, all within $[-20, 20]$. Find the four roots _without_ using a loop! (You could do it with a loop, but we should be able to scale up to a much wider range, which gets slow with loops.)

This has a few steps to think through, so pair up with someone to talk about your approach first.

In [ ]:
# your code here!